<html>
<head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<script type="text/javascript">

// user_choice is an arbitrary string label or int. 
function result(user_choice) {
  console.log(user_choice);
  var image = document.getElementById("candidate");
  if (!image) { 
    console.log("No image element in page."); 
    return; 
  }
  // Load a new image but report result.
  document.location = "/?log="+image.src+":"+user_choice;
}

// Simple click
document.addEventListener('click', function(){result(0);}, false);        

// Click and drag (non-touch-screen)
document.addEventListener('dragstart', handleDragStart, false);
document.addEventListener('dragend', handleDragEnd, false);

// On mobile swipe action
document.addEventListener('touchstart', handleTouchStart, false);        
document.addEventListener('touchmove', handleTouchEnd, false);

var xDown = null;                                                        
function handleDragStart(evt) {                                         
  xDown = evt.clientX;                                      
};                                                
function handleTouchStart(evt) {                                         
  xDown = evt.touches[0].clientX;                                      
};                                                
function handleTouchEnd(evt) {
  handleEnd(evt.touches[0].clientX);
}
function handleDragEnd(evt) {
  handleEnd(evt.clientX);
}
function handleEnd(xUp) {
  if ( !xDown ) { return; }
  var xDiff = xDown - xUp;
  if ( xDiff > 2 ) result(1);   
  if ( xDiff < -2 ) result(-1);   
  xDown = null;
};

</script>
<style>
body {
  background: #000;
  color: #FFF;
}

#candidate {
  display: block;
  width: 100%;
}

</style>
</head>
<body dragable="true"> 
  <center>Swipe left or right, or click to skip.</center> 
  <img id="candidate" src="{{image}}"> 
</body>
</html>

